*{
    
    margin:0px ;
    padding:0px;
}

body{
    display: flex;
    flex-direction: column;

}

.header-container{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(14, 11, 11);
    /* border: 4px solid black ; */
 }

.header-container > .BarNav{

    display: flex;
    width: 90%;
    align-items: flex-end;
  
    


}

.BarNav > .lista-Navegacion{
   
    display: flex;
    width: 100%;
    background-color: rgb(10, 3, 3);
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;


}

.BarNav > .lista-Navegacion > li > a {

    color: aliceblue;
    text-decoration: none;
    font-size: 20px;

}

.BarNav > .lista-Navegacion > li > a:hover {

    color: gold;

}

.header-container > .logo-header{
 display: flex;
 height: 100px;
 width: 10%;

}

.header-container > .logo-header > img{

   
    width: 100%;
    height: 100px;



}





.main-container{

    display: flex;
    width: 100%;
    height: 1000px;
    background-color:blue;
    border: 4px solid rgb(158, 138, 138) ;
}




.footer-container{

    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgb(142, 165, 42);
    border: 4px solid black ;

}